.block-inner {
  .content {
    article {margin-top: 20px;}
    ul {list-style-type: none;}
    ul li {margin: 0;}
    ul li span a {
      font-weight: 700;
      @include font-size(15);
    }
  }
}

article {
  .node-inner {
    header {
      h2 {text-transform: uppercase;}
      span.submitted {}
    }
    footer {
      padding-top: 20px;
      .links {color: $main_text_color;}
    }
  }
}
