.block-inner {
  .content {
    article {margin-top: 20px;}
    ul {list-style-type: none;}
    ul li {margin: 0;}
    ul li span a {
      font-weight: 700;
      @include font-size(15);
    }
  }
}

article {
  .node-inner {
    color: green;
    header {
      h2 {text-transform: uppercase;}
      span.submitted {color: blue;}
    }
    footer {
      .links {color: green}
    }
  }
}
