form.contact-form {
  .form-item {
    label {
      @include font-size(14);
      margin: 0;
      display: block;
      opacity: 1;
      -webkit-transition: .333s ease top, .333s ease opacity;
      transition: .333s ease top, .333s ease opacity;
    }
    input, textarea {
      border-radius: 0;
      border-color: #ccc;
      border-width: 0 0 2px 0;
      border-style: none none solid none;
      box-shadow: none;
      &:focus {
        box-shadow: none;
        border-color: #5e9bfc;
      }
    }
  }
  .form-actions {
    input {
      background: 0 0 #ffffff;
      @include font-size(15);
      border: 1px solid #2f323a;
      border-radius: 3px;
      color: #2f323a;
      line-height: inherit;
      margin: 30px 0;
      padding: 10px 50px;
      text-transform: uppercase;
      transition: all 0.25s ease 0s;
      &:hover, &:focus, &:active {
        border-color: #5e9bfc;
        color: #5e9bfc;
      }
    }
  }
}

.js-hide-label {
  opacity: 0;
}
.js-unhighlight-label {
  color: #999
}
