#content {
  #content-inner {
    #content-header {
      h1.title {
        text-transform: uppercase;
      }
      h2 {text-align: center;}
      #content-area {
        padding: 50px;
      }
    }
  }
}
