a.facebook-form {
  background-color: $facebook-blue !important;
  border-radius: none;
  color: white;
  display: block;
  padding: 5px;
  margin: 10px auto;
}
div {
  &.toboggan-container {
    text-align: center;
  }
  &.toboggan-login-link-container {
    text-align: left;
    a {
      text-decoration: none;
    }
  }
  &.toboggan-block-message {
    text-align: left;
  }
  &.user-login-block {
    text-align: left;
    a {
      text-align: left;
    }
  }
}


.toboggan-unified {
  label {
    border-radius: 20px;
  }
  input {
    border-radius: 20px;
    width: 60%
  }
  input[type="submit"] {
    padding: 10px;
  }
  #login-message {
    text-align: center;
  }
  #login-links {
    text-align: center;
    a {
      padding: .5em;
      background-color: #EEE;
      &:hover {
        background-color: #DDD;
      }
      &.lt-active {
        background-color: #FFF19A;
        &:hover {
          background-color: #FFF19A;
        }
      }
    }
  }
  &.login #register-form, &.register #login-form {
    display: none;
  }
}

.password-strength {
  display: none !important;
}
form {
  .form-item {
    label {
      @include font-size(12);
      margin: 0;
      display: block;
      opacity: 1;
      -webkit-transition: .333s ease top, .333s ease opacity;
      transition: .333s ease top, .333s ease opacity;
    }
    input, textarea {
      border-radius: 0;
      border-color: #ccc;
      border-width: 0 0 2px 0;
      border-style: none none solid none;
      box-shadow: none;
      &:focus {
        box-shadow: none;
        border-color: #5e9bfc;
      }
    }
  }
  .form-actions {
    margin: 0 auto;
    &:first-child {
      margin-left: 10px;
    }
    input {
      background: 0 0 #ffffff;
      @include font-size(14);
      border: 1px solid #2f323a;
      border-radius: 3px;
      color: #2f323a;
      line-height: inherit;
      margin: 30px 0;
      padding: 10px 50px;
      text-transform: uppercase;
      transition: all 0.25s ease 0s;
      &:hover, &:focus, &:active {
        border-color: #5e9bfc;
        color: #5e9bfc;
      }
    }
  }
}
