a.facebook-form {
  background-color: $facebook-blue !important;
  border-radius: none;
  color: white;
  display: block;
  padding: 5px;
  margin: 10px auto;
}
div {
  &.toboggan-container {
    text-align: center;
  }
  &.toboggan-login-link-container {
    text-align: left;
    a {
      text-decoration: none;
    }
  }
  &.toboggan-block-message {
    text-align: left;
  }
  &.user-login-block {
    text-align: left;
    a {
      text-align: left;
    }
  }
}


.toboggan-unified {
  label {
    border-radius: 20px;
  }
  input {
    border-radius: 20px;
    width: 60%
  }
  input[type="submit"] {
    padding: 10px;
  }
  #login-message {
    text-align: center;
  }
  #login-links {
    text-align: center;
    a {
      padding: .5em;
      background-color: #EEE;
      &:hover {
        background-color: #DDD;
      }
      &.lt-active {
        background-color: #FFF19A;
        &:hover {
          background-color: #FFF19A;
        }
      }
    }
  }
  &.login #register-form, &.register #login-form {
    display: none;
  }
}

.password-strength {
  display: none !important;
}
