@import url("https://fonts.googleapis.com/css?family=Dosis|Open+Sans");
#page {
  width: 60%;
  margin: 0 auto;
}
@media only screen and (max-width: 60%) {
  #page {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  #page {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
}

.node-inner {
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 60%) {
  .node-inner {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .node-inner {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
}

h1.title {
  font-family: "Open Sans", helvetica, Arial, sans-serif;
  font-size: 25px;
  line-height: 37.5px;
  font-size: 2.5rem;
  line-height: 3.75rem;
  text-align: center;
}

img.logo {
  margin: 0 auto;
  max-height: 80px;
}

body, #page {
  height: 100%;
}

@media only screen and (max-width: 60%) {
  body {
    background: #fff;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
  }
}

@media only screen and (max-width: 60%) {
  html, body {
    margin: 0;
    padding: 0;
    border: 0;
  }
}
@media only screen and (max-width: 480px) {
  html, body {
    margin: 0;
    padding: 0;
    border: 0;
  }
}

#main {
  position: relative;
}
@media only screen and (max-width: 60%) {
  #main {
    padding-bottom: 0px;
  }
}
@media only screen and (max-width: 480px) {
  #main {
    padding-bottom: 0px;
    position: static;
  }
}

#content {
  float: left;
  width: 100%;
  margin-right: -100%;
  margin-bottom: auto;
}

.sidebar {
  float: left;
}

#sidebar-second {
  float: right;
}
@media only screen and (max-width: 60%) {
  #sidebar-second {
    float: none;
    clear: both;
    width: auto;
    margin: 0px;
  }
}

#footer {
  height: auto;
  width: 60%;
}
@media only screen and (max-width: 60%) {
  #footer {
    position: relative;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  #footer {
    position: relative;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .sidebar, #sidebar-first, #sidebar-second {
    float: none;
    clear: both;
    width: auto;
    margin: 0px;
  }
}
@media only screen and (max-width: 60%) {
  .sidebar, #sidebar-first, #sidebar-second {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
  }
}

@media only screen and (max-width: 480px) {
  #content #content-inner.center {
    margin: 0px;
  }
}

#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

.two-sidebars .center,
.sidebar-first .center {
  margin-left: 25%;
}

#sidebar-first {
  width: 25%;
  margin-right: -15%;
}
@media only screen and (max-width: 480px) {
  #sidebar-first {
    margin-right: 0;
    width: 100%;
  }
}

.two-sidebars .center,
.sidebar-second .center {
  margin-right: 20%;
}

#sidebar-second {
  width: 20%;
}
@media only screen and (max-width: 480px) {
  #sidebar-second {
    margin-right: 0;
    width: 100%;
  }
}

.inner {
  padding: 10px;
  padding: 1rem;
}

#navigation {
  margin-left: 0;
  padding: 10px;
  padding: 1rem;
  width: 100%;
}
@media only screen and (max-width: 480px) {
  #navigation {
    clear: both;
    padding: 5px;
    padding: 0.5rem;
  }
}

a, a:visited, a:hover, a:active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: 0.5s color ease;
  text-decoration: none;
}

a:hover {
  color: #d73444;
}

#navigation ul {
  margin: 0px;
  float: left;
  padding: 0px;
}
#navigation li {
  list-style: none;
  margin: 5px;
  float: left;
}

#footer p {
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  color: #000;
}
@media only screen and (max-width: 480px) {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    line-height: 24px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    background: #fff;
    color: #000;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
  }
}

h1 {
  font-size: 35px;
  line-height: 52.5px;
  font-size: 3.5rem;
  line-height: 5.25rem;
  font-weight: 500;
  padding: 0 0 0.5em;
  margin: 0;
}

h2 {
  font-size: 24px;
  line-height: 36px;
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-weight: 300;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 1em;
}

h4 {
  font-size: 18px;
  line-height: 27px;
  font-size: 1.8rem;
  line-height: 2.7rem;
  margin-bottom: 0.8em;
}

h5 {
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  margin-bottom: 0;
}

h6 {
  font-size: 13px;
  line-height: 19.5px;
  font-size: 1.3rem;
  line-height: 1.95rem;
  font-weight: bold;
}

p {
  margin: 0 0 1em 0;
}

abbr {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

pre, code, kbd, samp, tt {
  font-family: "Dosis, Courier New", "DejaVu Sans Mono", monospace, sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-size: 1.3rem;
  line-height: 1.95rem;
  line-height: 1.5em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaa;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

dd {
  margin: 0 0 0 2em;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}
ul ul ul ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: decimal;
}

@media only screen and (max-width: 60%) {
  p img {
    float: left;
    margin: 0 10px 5px 0;
    padding: 0;
  }
}

@media only screen and (max-width: 60%) {
  img {
    border: 0;
    max-width: 100%;
  }
}

@media only screen and (max-width: 60%) {
  table {
    width: auto;
    border-collapse: collapse;
    border-spacing: 0;
  }
}

* {
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../js/boxsizing.htc);
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

#skip a {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}
#skip a:active, #skip a:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static !important;
  width: auto;
}

#site-name {
  font-size: 38px;
  line-height: 57px;
  font-size: 3.8rem;
  line-height: 5.7rem;
  font-weight: 500;
  padding: 0 0 0.5em;
  margin: 0;
  text-decoration: none;
}

div.view div.views-admin-links {
  width: auto;
}

.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static !important;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix, #navigation {
  *zoom: 1;
}
.clearfix:before, #navigation:before {
  content: "";
  display: table;
}
.clearfix:after, #navigation:after {
  content: "";
  display: table;
  clear: both;
}

.clearleft, .clearl, .cleft {
  clear: left;
}

.clearright, .clearr, .cright {
  clear: right;
}

.clear, .clearboth, .clearall {
  clear: both;
}

.floatleft, .fleft, .floatl {
  float: left;
  margin: 0 10px 5px 0;
}

.floatright, .fright, .floatr {
  float: right;
  margin: 0 0 5px 10px;
}

#system-themes-form img {
  width: 100px;
}

.form-item .description {
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 5px;
  color: #777;
}

#edit-delete {
  color: #c00;
}

div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #036;
  background: #bdf;
  border: 1px solid #ace;
}

div.warning {
  color: #840;
  background: #fe6;
  border-color: #ed5;
}

div.error {
  color: white;
  background: #e63;
  border-color: #d52;
}

div.status {
  color: #360;
  background: #cf8;
  border-color: #bbee77;
}

html {
  font-size: 62.5%;
  /* Sets up the Base 10 stuff */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: "Open Sans", helvetica, Arial, sans-serif;
  color: #222;
}

body {
  margin: 0;
  font-size: 13px;
  line-height: 19.5px;
  font-size: 1.3rem;
  line-height: 1.95rem;
  font-family: "Open Sans", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em;
}

::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 99%;
}

td {
  vertical-align: top;
}

tr.even td,
tr.odd td {
  padding: 10px 5px;
}

tr.odd {
  background-color: white;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

.wireframe-mode #header,
.wireframe-mode #content-top,
.wireframe-mode #content-top > *,
.wireframe-mode #content-header,
.wireframe-mode #content-header > *,
.wireframe-mode #content-area,
.wireframe-mode #content-area > *,
.wireframe-mode #content-bottom,
.wireframe-mode #content-bottom > *,
.wireframe-mode #primary,
.wireframe-mode #secondary,
.wireframe-mode #sidebar-left-inner,
.wireframe-mode #sidebar-right-inner,
.wireframe-mode .block {
  padding: 2px;
  border: 1px solid #bbbbbb;
}
.wireframe-mode .node {
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 10px;
}
.wireframe-mode .block {
  margin-bottom: 3px;
}
.wireframe-mode #content-top,
.wireframe-mode #content-header,
.wireframe-mode #content-area,
.wireframe-mode #content-bottom {
  margin: 0 3px 3px;
}
.wireframe-mode #footer {
  margin-top: 3px;
  padding: 2px;
  border: 1px solid #cccccc;
}
.wireframe-mode .with-navigation #content,
.wireframe-mode .with-navigation .sidebar {
  margin-top: 50px;
}
.wireframe-mode #navigation {
  height: 50px;
}

#header,
#footer {
  padding: 10px;
  padding: 1rem;
}

#header,
#footer,
#navigation,
#sidebar-first,
#sidebar-second,
#content_top,
#content_bottom {
  border: 1px dotted #888;
}

#header {
  background: #fff;
}

#sidebar-first {
  background: #fff;
}

#sidebar-second {
  background: #fff;
}

#navigation {
  background: #fff;
}

#footer {
  background: #fff;
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }

  .sidebar,
  #navigation,
  #header-region,
  #search-theme-form,
  #footer,
  .breadcrumb,
  .tabs,
  .feed-icon,
  .links {
    display: none;
  }

  #page {
    width: 100%;
  }

  #content,
  #content #content-inner,
  .content,
  .title {
    margin: 20px 0;
    width: auto;
  }

  a:hover, a:active, a:link, a:visited {
    color: black;
  }

  #content a:link:after, #content a:visited:after {
    content: " (" attr(href) ") ";
    font-size: 11px;
    line-height: 16.5px;
    font-size: 1.1rem;
    line-height: 1.65rem;
    font-weight: normal;
  }
}
.container,
.col-auto,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
}

.row {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.col-auto {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 0 !important;
  -ms-flex: 1 1 0 !important;
  flex: 1 1 0 !important;
}

.row > div {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}

.col-xs-1 {
  -webkit-flex-basis: 8.333333333333334% !important;
  flex-basis: 8.333333333333334% !important;
}

.col-xs-2 {
  -webkit-flex-basis: 16.666666666666668% !important;
  flex-basis: 16.666666666666668% !important;
}

.col-xs-3 {
  -webkit-flex-basis: 25% !important;
  flex-basis: 25% !important;
}

.col-xs-4 {
  -webkit-flex-basis: 33.333333333333336% !important;
  flex-basis: 33.333333333333336% !important;
}

.col-xs-5 {
  -webkit-flex-basis: 41.66666666666667% !important;
  flex-basis: 41.66666666666667% !important;
}

.col-xs-6 {
  -webkit-flex-basis: 50% !important;
  flex-basis: 50% !important;
}

.col-xs-7 {
  -webkit-flex-basis: 58.333333333333336% !important;
  flex-basis: 58.333333333333336% !important;
}

.col-xs-8 {
  -webkit-flex-basis: 66.66666666666667% !important;
  flex-basis: 66.66666666666667% !important;
}

.col-xs-9 {
  -webkit-flex-basis: 75% !important;
  flex-basis: 75% !important;
}

.col-xs-10 {
  -webkit-flex-basis: 83.33333333333334% !important;
  flex-basis: 83.33333333333334% !important;
}

.col-xs-11 {
  -webkit-flex-basis: 91.66666666666667% !important;
  flex-basis: 91.66666666666667% !important;
}

.col-xs-12 {
  -webkit-flex-basis: 100% !important;
  flex-basis: 100% !important;
}

.col-xs-offset-1 {
  margin-left: 8.333333333333334%;
}

.col-xs-offset-2 {
  margin-left: 16.666666666666668%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.333333333333336%;
}

.col-xs-offset-5 {
  margin-left: 41.66666666666667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.333333333333336%;
}

.col-xs-offset-8 {
  margin-left: 66.66666666666667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333333334%;
}

.col-xs-offset-11 {
  margin-left: 91.66666666666667%;
}

@media (min-width: 768px) {
  .col-sm-1 {
    -webkit-flex-basis: 8.333333333333334% !important;
    flex-basis: 8.333333333333334% !important;
  }

  .col-sm-2 {
    -webkit-flex-basis: 16.666666666666668% !important;
    flex-basis: 16.666666666666668% !important;
  }

  .col-sm-3 {
    -webkit-flex-basis: 25% !important;
    flex-basis: 25% !important;
  }

  .col-sm-4 {
    -webkit-flex-basis: 33.333333333333336% !important;
    flex-basis: 33.333333333333336% !important;
  }

  .col-sm-5 {
    -webkit-flex-basis: 41.66666666666667% !important;
    flex-basis: 41.66666666666667% !important;
  }

  .col-sm-6 {
    -webkit-flex-basis: 50% !important;
    flex-basis: 50% !important;
  }

  .col-sm-7 {
    -webkit-flex-basis: 58.333333333333336% !important;
    flex-basis: 58.333333333333336% !important;
  }

  .col-sm-8 {
    -webkit-flex-basis: 66.66666666666667% !important;
    flex-basis: 66.66666666666667% !important;
  }

  .col-sm-9 {
    -webkit-flex-basis: 75% !important;
    flex-basis: 75% !important;
  }

  .col-sm-10 {
    -webkit-flex-basis: 83.33333333333334% !important;
    flex-basis: 83.33333333333334% !important;
  }

  .col-sm-11 {
    -webkit-flex-basis: 91.66666666666667% !important;
    flex-basis: 91.66666666666667% !important;
  }

  .col-sm-12 {
    -webkit-flex-basis: 100% !important;
    flex-basis: 100% !important;
  }

  .col-sm-offset-1 {
    margin-left: 8.333333333333334%;
  }

  .col-sm-offset-2 {
    margin-left: 16.666666666666668%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.333333333333336%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666666666667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.333333333333336%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666666666667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333333334%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666666666667%;
  }
}
@media (min-width: 992px) {
  .col-md-1 {
    -webkit-flex-basis: 8.333333333333334% !important;
    flex-basis: 8.333333333333334% !important;
  }

  .col-md-2 {
    -webkit-flex-basis: 16.666666666666668% !important;
    flex-basis: 16.666666666666668% !important;
  }

  .col-md-3 {
    -webkit-flex-basis: 25% !important;
    flex-basis: 25% !important;
  }

  .col-md-4 {
    -webkit-flex-basis: 33.333333333333336% !important;
    flex-basis: 33.333333333333336% !important;
  }

  .col-md-5 {
    -webkit-flex-basis: 41.66666666666667% !important;
    flex-basis: 41.66666666666667% !important;
  }

  .col-md-6 {
    -webkit-flex-basis: 50% !important;
    flex-basis: 50% !important;
  }

  .col-md-7 {
    -webkit-flex-basis: 58.333333333333336% !important;
    flex-basis: 58.333333333333336% !important;
  }

  .col-md-8 {
    -webkit-flex-basis: 66.66666666666667% !important;
    flex-basis: 66.66666666666667% !important;
  }

  .col-md-9 {
    -webkit-flex-basis: 75% !important;
    flex-basis: 75% !important;
  }

  .col-md-10 {
    -webkit-flex-basis: 83.33333333333334% !important;
    flex-basis: 83.33333333333334% !important;
  }

  .col-md-11 {
    -webkit-flex-basis: 91.66666666666667% !important;
    flex-basis: 91.66666666666667% !important;
  }

  .col-md-12 {
    -webkit-flex-basis: 100% !important;
    flex-basis: 100% !important;
  }

  .col-md-offset-1 {
    margin-left: 8.333333333333334%;
  }

  .col-md-offset-2 {
    margin-left: 16.666666666666668%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.333333333333336%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666666666667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.333333333333336%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666666666667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333333334%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666666666667%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    -webkit-flex-basis: 8.333333333333334% !important;
    flex-basis: 8.333333333333334% !important;
  }

  .col-lg-2 {
    -webkit-flex-basis: 16.666666666666668% !important;
    flex-basis: 16.666666666666668% !important;
  }

  .col-lg-3 {
    -webkit-flex-basis: 25% !important;
    flex-basis: 25% !important;
  }

  .col-lg-4 {
    -webkit-flex-basis: 33.333333333333336% !important;
    flex-basis: 33.333333333333336% !important;
  }

  .col-lg-5 {
    -webkit-flex-basis: 41.66666666666667% !important;
    flex-basis: 41.66666666666667% !important;
  }

  .col-lg-6 {
    -webkit-flex-basis: 50% !important;
    flex-basis: 50% !important;
  }

  .col-lg-7 {
    -webkit-flex-basis: 58.333333333333336% !important;
    flex-basis: 58.333333333333336% !important;
  }

  .col-lg-8 {
    -webkit-flex-basis: 66.66666666666667% !important;
    flex-basis: 66.66666666666667% !important;
  }

  .col-lg-9 {
    -webkit-flex-basis: 75% !important;
    flex-basis: 75% !important;
  }

  .col-lg-10 {
    -webkit-flex-basis: 83.33333333333334% !important;
    flex-basis: 83.33333333333334% !important;
  }

  .col-lg-11 {
    -webkit-flex-basis: 91.66666666666667% !important;
    flex-basis: 91.66666666666667% !important;
  }

  .col-lg-12 {
    -webkit-flex-basis: 100% !important;
    flex-basis: 100% !important;
  }

  .col-lg-offset-1 {
    margin-left: 8.333333333333334%;
  }

  .col-lg-offset-2 {
    margin-left: 16.666666666666668%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.333333333333336%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666666666667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.333333333333336%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666666666667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333333334%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666666666667%;
  }
}
div[class^="col-"] {
  border: 1px solid #a9a9a9;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #dfe2e2;
}

div[class^="col-auto"] {
  background: lightblue;
}
