@import url("https://fonts.googleapis.com/css?family=Dosis|Open+Sans");
#page {
  width: 60%;
  margin: 0 auto;
}
@media only screen and (max-width: 60%) {
  #page {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  #page {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
}

.node-inner {
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 60%) {
  .node-inner {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .node-inner {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
}

h1.title {
  font-family: "Open Sans", helvetica, Arial, sans-serif;
  font-size: 25px;
  line-height: 37.5px;
  font-size: 2.5rem;
  line-height: 3.75rem;
  text-align: center;
}

body, #page {
  height: 100%;
}

@media only screen and (max-width: 60%) {
  body {
    background: #fff;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
  }
}

@media only screen and (max-width: 60%) {
  html, body {
    margin: 0;
    padding: 0;
    border: 0;
  }
}
@media only screen and (max-width: 480px) {
  html, body {
    margin: 0;
    padding: 0;
    border: 0;
  }
}

#main {
  position: relative;
}
@media only screen and (max-width: 60%) {
  #main {
    padding-bottom: 0px;
  }
}
@media only screen and (max-width: 480px) {
  #main {
    padding-bottom: 0px;
    position: static;
  }
}

#content {
  float: left;
  width: 100%;
  margin-right: -100%;
  margin-bottom: auto;
}

.sidebar {
  float: left;
}

#sidebar-second {
  float: right;
}
@media only screen and (max-width: 60%) {
  #sidebar-second {
    float: none;
    clear: both;
    width: auto;
    margin: 0px;
  }
}

#footer {
  height: auto;
  width: 60%;
}
@media only screen and (max-width: 60%) {
  #footer {
    position: relative;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  #footer {
    position: relative;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .sidebar, #sidebar-first, #sidebar-second {
    float: none;
    clear: both;
    width: auto;
    margin: 0px;
  }
}
@media only screen and (max-width: 60%) {
  .sidebar, #sidebar-first, #sidebar-second {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
  }
}

@media only screen and (max-width: 480px) {
  #content #content-inner.center {
    margin: 0px;
  }
}

#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

.two-sidebars .center,
.sidebar-first .center {
  margin-left: 25%;
}

#sidebar-first {
  width: 25%;
  margin-right: -15%;
}
@media only screen and (max-width: 480px) {
  #sidebar-first {
    margin-right: 0;
    width: 100%;
  }
}

.two-sidebars .center,
.sidebar-second .center {
  margin-right: 20%;
}

#sidebar-second {
  width: 20%;
}
@media only screen and (max-width: 480px) {
  #sidebar-second {
    margin-right: 0;
    width: 100%;
  }
}

.inner {
  padding: 10px;
  padding: 1rem;
}

#navigation {
  margin-left: 0;
  padding: 10px;
  padding: 1rem;
  width: 100%;
}
@media only screen and (max-width: 480px) {
  #navigation {
    clear: both;
    padding: 5px;
    padding: 0.5rem;
  }
}

a {
  color: none;
}
a:visited {
  color: none;
}
a:hover {
  color: none;
}
a:focus {
  color: none;
  outline: thin dotted;
}
a:hover, a:active {
  color: none;
  text-decoration: underline;
  outline: 0;
}

#navigation ul {
  margin: 0px;
  float: left;
  padding: 0px;
}
#navigation li {
  list-style: none;
  margin: 5px;
  float: left;
}

#footer p {
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  color: #000;
}
@media only screen and (max-width: 480px) {
  h1, h2, h3, h4, h5, h6 {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    line-height: 24px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    background: #fff;
    color: #000;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
  }
}

h1 {
  font-size: 28px;
  line-height: 42px;
  font-size: 2.8rem;
  line-height: 4.2rem;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

h2 {
  font-size: 24px;
  line-height: 36px;
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-weight: 300;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 1em;
}

h4 {
  font-size: 18px;
  line-height: 27px;
  font-size: 1.8rem;
  line-height: 2.7rem;
  margin-bottom: 0.8em;
}

h5 {
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  margin-bottom: 0;
}

h6 {
  font-size: 13px;
  line-height: 19.5px;
  font-size: 1.3rem;
  line-height: 1.95rem;
  font-weight: bold;
}

p {
  margin: 0 0 1em 0;
}

abbr {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

pre, code, kbd, samp, tt {
  font-family: "Dosis, Courier New", "DejaVu Sans Mono", monospace, sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-size: 1.3rem;
  line-height: 1.95rem;
  line-height: 1.5em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaa;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

dd {
  margin: 0 0 0 2em;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}
ul ul ul ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: decimal;
}

@media only screen and (max-width: 60%) {
  p img {
    float: left;
    margin: 0 10px 5px 0;
    padding: 0;
  }
}

@media only screen and (max-width: 60%) {
  img {
    border: 0;
    max-width: 100%;
  }
}

@media only screen and (max-width: 60%) {
  table {
    width: auto;
    border-collapse: collapse;
    border-spacing: 0;
  }
}

* {
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../js/boxsizing.htc);
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

#skip a {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}
#skip a:active, #skip a:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static !important;
  width: auto;
}

.logo {
  max-height: 50px;
  float: left;
}

#site-name {
  font-size: 38px;
  line-height: 57px;
  font-size: 3.8rem;
  line-height: 5.7rem;
  font-weight: 500;
  padding: 0 0 0.5em;
  margin: 0;
  text-decoration: none;
}

div.view div.views-admin-links {
  width: auto;
}

.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static !important;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix, #navigation {
  *zoom: 1;
}
.clearfix:before, #navigation:before {
  content: "";
  display: table;
}
.clearfix:after, #navigation:after {
  content: "";
  display: table;
  clear: both;
}

.clearleft, .clearl, .cleft {
  clear: left;
}

.clearright, .clearr, .cright {
  clear: right;
}

.clear, .clearboth, .clearall {
  clear: both;
}

.floatleft, .fleft, .floatl {
  float: left;
  margin: 0 10px 5px 0;
}

.floatright, .fright, .floatr {
  float: right;
  margin: 0 0 5px 10px;
}

#system-themes-form img {
  width: 100px;
}

.form-item .description {
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 5px;
  color: #777;
}

#edit-delete {
  color: #c00;
}

div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #036;
  background: #bdf;
  border: 1px solid #ace;
}

div.warning {
  color: #840;
  background: #fe6;
  border-color: #ed5;
}

div.error {
  color: white;
  background: #e63;
  border-color: #d52;
}

div.status {
  color: #360;
  background: #cf8;
  border-color: #bbee77;
}

html {
  font-size: 62.5%;
  /* Sets up the Base 10 stuff */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: "Open Sans", helvetica, Arial, sans-serif;
  color: #222;
}

body {
  margin: 0;
  font-size: 13px;
  line-height: 19.5px;
  font-size: 1.3rem;
  line-height: 1.95rem;
  font-family: "Open Sans", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em;
}

::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 99%;
}

td {
  vertical-align: top;
}

tr.even td,
tr.odd td {
  padding: 10px 5px;
}

tr.odd {
  background-color: white;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

.wireframe-mode #header,
.wireframe-mode #content-top,
.wireframe-mode #content-top > *,
.wireframe-mode #content-header,
.wireframe-mode #content-header > *,
.wireframe-mode #content-area,
.wireframe-mode #content-area > *,
.wireframe-mode #content-bottom,
.wireframe-mode #content-bottom > *,
.wireframe-mode #primary,
.wireframe-mode #secondary,
.wireframe-mode #sidebar-left-inner,
.wireframe-mode #sidebar-right-inner,
.wireframe-mode .block {
  padding: 2px;
  border: 1px solid #bbbbbb;
}
.wireframe-mode .node {
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 10px;
}
.wireframe-mode .block {
  margin-bottom: 3px;
}
.wireframe-mode #content-top,
.wireframe-mode #content-header,
.wireframe-mode #content-area,
.wireframe-mode #content-bottom {
  margin: 0 3px 3px;
}
.wireframe-mode #footer {
  margin-top: 3px;
  padding: 2px;
  border: 1px solid #cccccc;
}
.wireframe-mode .with-navigation #content,
.wireframe-mode .with-navigation .sidebar {
  margin-top: 50px;
}
.wireframe-mode #navigation {
  height: 50px;
}

#header,
#footer {
  padding: 10px;
  padding: 1rem;
}

#header,
#footer,
#navigation,
#sidebar-first,
#sidebar-second,
#content_top,
#content_bottom {
  border: 1px dotted #888;
}

#header {
  background: #fff;
}

#sidebar-first {
  background: #fff;
}

#sidebar-second {
  background: #fff;
}

#navigation {
  background: #fff;
}

#footer {
  background: #fff;
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }

  .sidebar,
  #navigation,
  #header-region,
  #search-theme-form,
  #footer,
  .breadcrumb,
  .tabs,
  .feed-icon,
  .links {
    display: none;
  }

  #page {
    width: 100%;
  }

  #content,
  #content #content-inner,
  .content,
  .title {
    margin: 20px 0;
    width: auto;
  }

  a:hover, a:active, a:link, a:visited {
    color: black;
  }

  #content a:link:after, #content a:visited:after {
    content: " (" attr(href) ") ";
    font-size: 11px;
    line-height: 16.5px;
    font-size: 1.1rem;
    line-height: 1.65rem;
    font-weight: normal;
  }
}
/**
 * Flex Grid -
 * Version: 0.3.4
 *
 * Simple grid built with flex box and sass.
 *
 * Matthew Simo - matthew.a.simo@gmail.com
 */
/**
 * Grid setup
 *
 * The grid will calculate dimensions based on these two variables:
 * $fg-columns will inform the grid loops how many columns there should be.
 * $fg-gutter will inform the grid loops how big eac column's gutters should be.
 *
 * The grid will name columns, rows, offsets based on these three variables:
 * $fg-class-row string used for the row class
 * $fg-class-col string used for the column class
 * $fg-class-off string used for the offset class
 */
/**
 * Break point namespace object
 *
 * Set the default namespace object with these defaults with the
 * understanding that you can pass in whatever you might require for your site.
 *
 * $fg-breakpoints is a Sass list with nested lists inside. Each sub list defines two things.
 * 1. The namespace for that breakpoint. (Required) (i.e. xs, sm, md, lg)
 * 2. The min-width measurement for the breakpoint for that namespace. (i.e. 48em, 62em, 75em)
 *
 * Note: These should be in the proper order (at least till libsass handles map keys properly).
 *
 * Note: If the measurement is left out then it will be skipped when generating
 * the grid and applied to global styles.
 *
 */
/**
 * Class Name Defaults
 *
 * Define class names for columns, rows and offsets in case compatibility with other
 * libraries is necessary.


/**
 * Calculate column size percentage
 */
/**
 * Spacing mixin to create uniform margin/padding
 */
/**
 * Row wrapper class, flex box parent.
 */
.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.col-xs, .col-sm, .col-md, .col-lg, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  min-height: 1px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.col-xs, .col-sm, .col-md, .col-lg {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

/**
 * Generate a set of grid column classes using a namespace
 *
 * .col-[namespace] for intelligent column division
 * .col-[namespace]-[number] for a column that covers a specific number of columns (e.g. 1-12 by default)
 * .off-[namespace]-[number] for pushing a col a specific number of columns (e.g. 1-11 by default)
 */
/**
 * Build the grid in two steps, to help minimize file size
 * Step 1, for each namespace, create the grid-base
 * Step 2, for each namespace, wrap the col width/offset measurements in their breakpoint media query
 */
.col-xs-1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%;
}

.col-xs-2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%;
}

.col-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}

.col-xs-5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%;
}

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%;
}

.col-xs-8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%;
}

.col-xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%;
}

.col-xs-11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%;
}

.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.off-xs-1 {
  margin-left: 8.33333%;
}

.off-xs-2 {
  margin-left: 16.66667%;
}

.off-xs-3 {
  margin-left: 25%;
}

.off-xs-4 {
  margin-left: 33.33333%;
}

.off-xs-5 {
  margin-left: 41.66667%;
}

.off-xs-6 {
  margin-left: 50%;
}

.off-xs-7 {
  margin-left: 58.33333%;
}

.off-xs-8 {
  margin-left: 66.66667%;
}

.off-xs-9 {
  margin-left: 75%;
}

.off-xs-10 {
  margin-left: 83.33333%;
}

.off-xs-11 {
  margin-left: 91.66667%;
}

@media only screen and (min-width: 768px) {
  .col-sm-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }

  .col-sm-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  .col-sm-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }

  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }

  .col-sm-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }

  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }

  .col-sm-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }

  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .off-sm-1 {
    margin-left: 8.33333%;
  }

  .off-sm-2 {
    margin-left: 16.66667%;
  }

  .off-sm-3 {
    margin-left: 25%;
  }

  .off-sm-4 {
    margin-left: 33.33333%;
  }

  .off-sm-5 {
    margin-left: 41.66667%;
  }

  .off-sm-6 {
    margin-left: 50%;
  }

  .off-sm-7 {
    margin-left: 58.33333%;
  }

  .off-sm-8 {
    margin-left: 66.66667%;
  }

  .off-sm-9 {
    margin-left: 75%;
  }

  .off-sm-10 {
    margin-left: 83.33333%;
  }

  .off-sm-11 {
    margin-left: 91.66667%;
  }
}
@media only screen and (min-width: 992px) {
  .col-md-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }

  .col-md-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  .col-md-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }

  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }

  .col-md-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }

  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }

  .col-md-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }

  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .off-md-1 {
    margin-left: 8.33333%;
  }

  .off-md-2 {
    margin-left: 16.66667%;
  }

  .off-md-3 {
    margin-left: 25%;
  }

  .off-md-4 {
    margin-left: 33.33333%;
  }

  .off-md-5 {
    margin-left: 41.66667%;
  }

  .off-md-6 {
    margin-left: 50%;
  }

  .off-md-7 {
    margin-left: 58.33333%;
  }

  .off-md-8 {
    margin-left: 66.66667%;
  }

  .off-md-9 {
    margin-left: 75%;
  }

  .off-md-10 {
    margin-left: 83.33333%;
  }

  .off-md-11 {
    margin-left: 91.66667%;
  }
}
@media only screen and (min-width: 1200px) {
  .col-lg-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }

  .col-lg-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  .col-lg-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }

  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }

  .col-lg-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }

  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }

  .col-lg-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }

  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .off-lg-1 {
    margin-left: 8.33333%;
  }

  .off-lg-2 {
    margin-left: 16.66667%;
  }

  .off-lg-3 {
    margin-left: 25%;
  }

  .off-lg-4 {
    margin-left: 33.33333%;
  }

  .off-lg-5 {
    margin-left: 41.66667%;
  }

  .off-lg-6 {
    margin-left: 50%;
  }

  .off-lg-7 {
    margin-left: 58.33333%;
  }

  .off-lg-8 {
    margin-left: 66.66667%;
  }

  .off-lg-9 {
    margin-left: 75%;
  }

  .off-lg-10 {
    margin-left: 83.33333%;
  }

  .off-lg-11 {
    margin-left: 91.66667%;
  }
}
/**
 * File: blueplate.scss
 * Type: SASS execute file
 * Author: Chris Humboldt
 */
/**
 * File: sass/_import.scss
 * Type: SASS importer
 * Author: Chris Humboldt
 */
/**
 * File: development/_function.scss
 * Type: SASS functions
 * Author: Chris Humboldt
 */
/**
 * File: development/_mixin.scss
 * Type: SASS mixins
 * Author: Chris Humboldt
 */
/**
 * File: basic/_animation.scss
 * Type: SASS partial
 * Author: Chris Humboldt
 */
/**
 * File: basic/_arrow.scss
 * Type: SASS partial
 * Author: Chris Humboldt
 * Based on: http://cssarrowplease.com/
 */
/**
 * File: basic/_background.scss
 * Type: SASS partial
 * Author: Chris Humboldt
 */
/**
 * File: basic/_border.scss
 * Type: SASS partial
 * Author: Chris Humboldt
 */
/**
 * File: basic/_breakpoint.scss
 * Type: SASS partial
 * Author: Chris Humboldt
 */
/**
 * File: basic/_colour.scss
 * Type: SASS partial
 * Author: Chris Humboldt
 */
/**
 * File: basic/_display.scss
 * Type: SASS partial
 * Author: Chris Humboldt
 */
/**
 * File: basic/_drop-shadow.scss
 * Type: SASS partial
 * Author: Chris Humboldt
 */
/**
 * File: basic/_global.scss
 * Type: SASS partial
 * Author: Chris Humboldt
 */
/**
 * File: basic/_gradient.scss
 * Type: SASS partial
 * Author: Chris Humboldt
 */
/**
 * File: basic/_input-types.scss
 * Type: SASS partial
 * Author: Chris Humboldt
 */
/**
 * File: basic/_interaction.scss
 * Type: SASS partial
 * Author: Chris Humboldt
 */
/**
 * File: basic/_ios.scss
 * Type: SASS partial
 * Author: Chris Humboldt
 */
/**
 * File: basic/_layout.scss
 * Type: SASS partial
 * Author: Chris Humboldt
 */
/**
 * File: basic/_list.scss
 * Type: SASS partial
 * Author: Chris Humboldt
 */
/**
 * File: basic/_responsive-layout.scss
 * Type: SASS partial
 * Author: Chris Humboldt
 */
/**
 * File: basic/_size.scss
 * Type: SASS partial
 * Author: Chris Humboldt
 */
/**
 * File: basic/_spacing.scss
 * Type: SASS partial
 * Author: Chris Humboldt
 */
/**
 * File: basic/_text.scss
 * Type: SASS partial
 * Author: Chris Humboldt
 */
/**
 * File: basic/_transform.scss
 * Type: SASS partial
 * Author: Chris Humboldt
 */
/**
 * File: sass/component/_content.scss
 * Type: SASS component file
 * Author: Chris Humboldt
 */
/**
 * File: _element.scss
 * Type: SASS file
 * Author: Chris Humboldt
 * Last Edited: 22 April 2015
 */
/**
 * File: sass/component/_layout.scss
 * Type: SASS component
 * Author: Chris Humboldt
 */
/**
 * File: module/_list.scss
 * Type: SASS module file
 * Author: Chris Humboldt
 */
/**
 * File: sass/css/_background.scss
 * Type: SASS CSS file
 * Author: Chris Humboldt
 */
/**
 * File: sass/css/_display.scss
 * Type: SASS CSS file
 * Author: Chris Humboldt
 */
/**
 * File: sass/css/_global.scss
 * Type: SASS CSS file
 * Author: Chris Humboldt
 */
/**
 * File: sass/css/_layout.scss
 * Type: SASS CSS file
 * Author: Chris Humboldt
 */
/**
 * File: sass/css/_position.scss
 * Type: SASS CSS file
 * Author: Chris Humboldt
 */
/**
 * File: sass/css/_responsive-layout.scss
 * Type: SASS CSS file
 * Author: Chris Humboldt
 */
/**
 * File: sass/css/_sizing.scss
 * Type: SASS CSS file
 * Author: Chris Humboldt
 */
/**
 * File: sass/css/_spacing.scss
 * Type: SASS CSS file
 * Author: Chris Humboldt
 */
/**
 * File: sass/css/_text.scss
 * Type: SASS CSS file
 * Author: Chris Humboldt
 */
/**
 * File: sass/css/_execute.scss
 * Type: SASS CSS execute file
 * Author: Chris Humboldt
 */
._float-no {
  float: none;
}

._float-l {
  float: left;
}

._float-r {
  float: right;
}

._float-clear {
  clear: both;
}

._center {
  margin: 0 auto;
}

._valign-t {
  vertical-align: top;
}

._valign-m {
  vertical-align: middle;
}

._valign-b {
  vertical-align: bottom;
}

._content {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media only screen and (min-width: 34.375em) {
  ._content {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 36px;
    padding-bottom: 36px;
  }
}
@media only screen and (min-width: 56.25em) {
  ._content {
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

@media only screen and (min-width: 34.375em) {
  ._content-flush {
    padding: 24px;
  }
}
@media only screen and (min-width: 43.813em) {
  ._content-flush {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}
@media only screen and (min-width: 56.25em) {
  ._content-flush {
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

._content-small {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
}
@media only screen and (min-width: 34.375em) {
  ._content-small {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media only screen and (min-width: 43.813em) {
  ._content-small {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media only screen and (min-width: 56.25em) {
  ._content-small {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

._content-minor {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media only screen and (min-width: 34.375em) {
  ._content-minor {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media only screen and (min-width: 43.813em) {
  ._content-minor {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media only screen and (min-width: 56.25em) {
  ._content-minor {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

._content-medium {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media only screen and (min-width: 28.125em) {
  ._content-medium {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}
@media only screen and (min-width: 34.375em) {
  ._content-medium {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media only screen and (min-width: 43.813em) {
  ._content-medium {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media only screen and (min-width: 56.25em) {
  ._content-medium {
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 72px;
    padding-bottom: 72px;
  }
}

._content-large {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media only screen and (min-width: 28.125em) {
  ._content-large {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}
@media only screen and (min-width: 34.375em) {
  ._content-large {
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media only screen and (min-width: 43.813em) {
  ._content-large {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}
@media only screen and (min-width: 56.25em) {
  ._content-large {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

._limit,
._limit-x2-small,
._limit-x-small,
._limit-small,
._limit-minor,
._limit-medium,
._limit-large {
  width: 100%;
  max-width: 68.75em;
  margin: 0 auto;
}

._limit-x2-small {
  max-width: 25em;
}

._limit-x-small {
  max-width: 40em;
}

._limit-small {
  max-width: 54em;
}

._limit-minor {
  max-width: 60em;
}

._limit-medium {
  max-width: 80em;
}

._limit-large {
  max-width: 90em;
}

._row {
  width: 100%;
}
._row:before, ._row:after {
  content: " ";
  display: table;
}
._row:after {
  clear: both;
}
._row ._row {
  width: auto;
}
._row [class*="_span-"] {
  position: relative;
  float: left;
}
._row ._span-1 {
  width: 8.33333%;
}
._row ._span-2 {
  width: 16.66667%;
}
._row ._span-3 {
  width: 25%;
}
._row ._span-4 {
  width: 33.33333%;
}
._row ._span-5 {
  width: 41.66667%;
}
._row ._span-6 {
  width: 50%;
}
._row ._span-7 {
  width: 58.33333%;
}
._row ._span-8 {
  width: 66.66667%;
}
._row ._span-9 {
  width: 75%;
}
._row ._span-10 {
  width: 83.33333%;
}
._row ._span-11 {
  width: 91.66667%;
}
._row ._span-12 {
  width: 100%;
}
._row ._offset-1 {
  margin-left: 8.33333%;
}
._row ._offset-r-1 {
  margin-right: 8.33333%;
}
._row ._offset-2 {
  margin-left: 16.66667%;
}
._row ._offset-r-2 {
  margin-right: 16.66667%;
}
._row ._offset-3 {
  margin-left: 25%;
}
._row ._offset-r-3 {
  margin-right: 25%;
}
._row ._offset-4 {
  margin-left: 33.33333%;
}
._row ._offset-r-4 {
  margin-right: 33.33333%;
}
._row ._offset-5 {
  margin-left: 41.66667%;
}
._row ._offset-r-5 {
  margin-right: 41.66667%;
}
._row ._offset-6 {
  margin-left: 50%;
}
._row ._offset-r-6 {
  margin-right: 50%;
}
._row ._offset-7 {
  margin-left: 58.33333%;
}
._row ._offset-r-7 {
  margin-right: 58.33333%;
}
._row ._offset-8 {
  margin-left: 66.66667%;
}
._row ._offset-r-8 {
  margin-right: 66.66667%;
}
._row ._offset-9 {
  margin-left: 75%;
}
._row ._offset-r-9 {
  margin-right: 75%;
}
._row ._offset-10 {
  margin-left: 83.33333%;
}
._row ._offset-r-10 {
  margin-right: 83.33333%;
}
._row ._offset-11 {
  margin-left: 91.66667%;
}
._row ._offset-r-11 {
  margin-right: 91.66667%;
}

._limit {
  width: 100%;
  max-width: 68.75em;
  margin: 0 auto;
}

@media only screen and (min-width: 43.813em) {
  ._row ._span-large-1 {
    width: 8.33333%;
  }
  ._row ._span-large-2 {
    width: 16.66667%;
  }
  ._row ._span-large-3 {
    width: 25%;
  }
  ._row ._span-large-4 {
    width: 33.33333%;
  }
  ._row ._span-large-5 {
    width: 41.66667%;
  }
  ._row ._span-large-6 {
    width: 50%;
  }
  ._row ._span-large-7 {
    width: 58.33333%;
  }
  ._row ._span-large-8 {
    width: 66.66667%;
  }
  ._row ._span-large-9 {
    width: 75%;
  }
  ._row ._span-large-10 {
    width: 83.33333%;
  }
  ._row ._span-large-11 {
    width: 91.66667%;
  }
  ._row ._span-large-12 {
    width: 100%;
  }
  ._row ._offset-large-1 {
    margin-left: 8.33333%;
  }
  ._row ._offset-large-r-1 {
    margin-right: 8.33333%;
  }
  ._row ._offset-large-2 {
    margin-left: 16.66667%;
  }
  ._row ._offset-large-r-2 {
    margin-right: 16.66667%;
  }
  ._row ._offset-large-3 {
    margin-left: 25%;
  }
  ._row ._offset-large-r-3 {
    margin-right: 25%;
  }
  ._row ._offset-large-4 {
    margin-left: 33.33333%;
  }
  ._row ._offset-large-r-4 {
    margin-right: 33.33333%;
  }
  ._row ._offset-large-5 {
    margin-left: 41.66667%;
  }
  ._row ._offset-large-r-5 {
    margin-right: 41.66667%;
  }
  ._row ._offset-large-6 {
    margin-left: 50%;
  }
  ._row ._offset-large-r-6 {
    margin-right: 50%;
  }
  ._row ._offset-large-7 {
    margin-left: 58.33333%;
  }
  ._row ._offset-large-r-7 {
    margin-right: 58.33333%;
  }
  ._row ._offset-large-8 {
    margin-left: 66.66667%;
  }
  ._row ._offset-large-r-8 {
    margin-right: 66.66667%;
  }
  ._row ._offset-large-9 {
    margin-left: 75%;
  }
  ._row ._offset-large-r-9 {
    margin-right: 75%;
  }
  ._row ._offset-large-10 {
    margin-left: 83.33333%;
  }
  ._row ._offset-large-r-10 {
    margin-right: 83.33333%;
  }
  ._row ._offset-large-11 {
    margin-left: 91.66667%;
  }
  ._row ._offset-large-r-11 {
    margin-right: 91.66667%;
  }
}
@media only screen and (max-width: 43.813em) {
  ._row ._span-small-1 {
    width: 8.33333%;
  }
  ._row ._span-small-2 {
    width: 16.66667%;
  }
  ._row ._span-small-3 {
    width: 25%;
  }
  ._row ._span-small-4 {
    width: 33.33333%;
  }
  ._row ._span-small-5 {
    width: 41.66667%;
  }
  ._row ._span-small-6 {
    width: 50%;
  }
  ._row ._span-small-7 {
    width: 58.33333%;
  }
  ._row ._span-small-8 {
    width: 66.66667%;
  }
  ._row ._span-small-9 {
    width: 75%;
  }
  ._row ._span-small-10 {
    width: 83.33333%;
  }
  ._row ._span-small-11 {
    width: 91.66667%;
  }
  ._row ._span-small-12 {
    width: 100%;
  }
  ._row ._offset-small-1 {
    margin-left: 8.33333%;
  }
  ._row ._offset-small-r-1 {
    margin-right: 8.33333%;
  }
  ._row ._offset-small-2 {
    margin-left: 16.66667%;
  }
  ._row ._offset-small-r-2 {
    margin-right: 16.66667%;
  }
  ._row ._offset-small-3 {
    margin-left: 25%;
  }
  ._row ._offset-small-r-3 {
    margin-right: 25%;
  }
  ._row ._offset-small-4 {
    margin-left: 33.33333%;
  }
  ._row ._offset-small-r-4 {
    margin-right: 33.33333%;
  }
  ._row ._offset-small-5 {
    margin-left: 41.66667%;
  }
  ._row ._offset-small-r-5 {
    margin-right: 41.66667%;
  }
  ._row ._offset-small-6 {
    margin-left: 50%;
  }
  ._row ._offset-small-r-6 {
    margin-right: 50%;
  }
  ._row ._offset-small-7 {
    margin-left: 58.33333%;
  }
  ._row ._offset-small-r-7 {
    margin-right: 58.33333%;
  }
  ._row ._offset-small-8 {
    margin-left: 66.66667%;
  }
  ._row ._offset-small-r-8 {
    margin-right: 66.66667%;
  }
  ._row ._offset-small-9 {
    margin-left: 75%;
  }
  ._row ._offset-small-r-9 {
    margin-right: 75%;
  }
  ._row ._offset-small-10 {
    margin-left: 83.33333%;
  }
  ._row ._offset-small-r-10 {
    margin-right: 83.33333%;
  }
  ._row ._offset-small-11 {
    margin-left: 91.66667%;
  }
  ._row ._offset-small-r-11 {
    margin-right: 91.66667%;
  }
}
._show {
  display: block;
}

._hide {
  display: none;
}

._hide-visually {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

._opacity-100 {
  opacity: 1;
  filter: alpha(opacity=100);
}

._opacity-75 {
  opacity: 0.75;
  filter: alpha(opacity=75);
}

._opacity-50 {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

._opacity-25 {
  opacity: 0.25;
  filter: alpha(opacity=25);
}

._opacity-0 {
  opacity: 0;
  filter: alpha(opacity=0);
}

@media only screen and (min-width: 43.813em) {
  ._show-small {
    display: none;
  }

  ._show-large {
    display: block;
  }

  ._hide-large {
    display: none;
  }
}
@media only screen and (max-width: 43.813em) {
  ._show-small {
    display: block;
  }

  ._hide-small {
    display: none;
  }

  ._show-large {
    display: none;
  }
}
html._blueplate {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #333333;
  background-color: #fff;
  -ms-text-size-adjust: 100%;
  -webkit-texts-size-adjust: 100%;
  -webkit-backface-visibility: hidden;
}
html._blueplate body {
  margin: 0;
  padding: 0;
}
html._blueplate *,
html._blueplate *:before,
html._blueplate *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

._pos-absolute {
  position: absolute;
}

._pos-relative {
  position: relative;
}

._pos-static {
  position: static;
}

._pos-fixed {
  position: fixed;
}

._text-hide {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}

._txt-l {
  text-align: left;
}

._txt-c {
  text-align: center;
}

._txt-r {
  text-align: right;
}

._txt-size-x2l {
  font-size: 48px;
  font-size: 3rem;
}

._txt-size-xl {
  font-size: 36px;
  font-size: 2.25rem;
}

._txt-size-l {
  font-size: 24px;
  font-size: 1.5rem;
}

._txt-size-m {
  font-size: 20px;
  font-size: 1.25rem;
}

._txt-size-n {
  font-size: 16px;
  font-size: 1rem;
}

._txt-size-s {
  font-size: 12px;
  font-size: 0.75rem;
}

._txt-size-xs {
  font-size: 10px;
  font-size: 0.625rem;
}

._txt-size-x2s {
  font-size: 8px;
  font-size: 0.5rem;
}

._txt-weight-xb {
  font-weight: 900;
}

._txt-weight-b, ._txt-bold {
  font-weight: 700;
}

._txt-weight-n {
  font-weight: 400;
}

._txt-weight-l, ._txt-light {
  font-weight: 300;
}

._txt-weight-xl, ._txt-thin {
  font-weight: 100;
}

._txt-weight-xl {
  font-weight: 100;
}

._txt-normal {
  font-weight: normal;
}

._txt-italics {
  font-style: italic;
}

._txt-oblique {
  font-style: oblique;
}

._txt-white {
  color: #fff;
}

._txt-grey {
  color: gray;
}

@media only screen and (min-width: 43.813em) {
  ._txt-size-x2l-large {
    font-size: 48px;
    font-size: 3rem;
  }

  ._txt-size-xl-large {
    font-size: 36px;
    font-size: 2.25rem;
  }

  ._txt-size-l-large {
    font-size: 24px;
    font-size: 1.5rem;
  }

  ._txt-size-m-large {
    font-size: 20px;
    font-size: 1.25rem;
  }

  ._txt-size-n-large {
    font-size: 16px;
    font-size: 1rem;
  }

  ._txt-size-s-large {
    font-size: 12px;
    font-size: 0.75rem;
  }

  ._txt-size-xs-large {
    font-size: 10px;
    font-size: 0.625rem;
  }

  ._txt-size-x2s-large {
    font-size: 8px;
    font-size: 0.5rem;
  }

  ._txt-weight-xb-large {
    font-weight: 900;
  }

  ._txt-weight-b-large, ._txt-bold-large {
    font-weight: 700;
  }

  ._txt-weight-n-large {
    font-weight: 400;
  }

  ._txt-weight-l-large, ._txt-light-large {
    font-weight: 300;
  }

  ._txt-weight-xl-large {
    font-weight: 100;
  }

  ._txt-normal-large {
    font-weight: 400;
  }
}
._back-pos-l {
  background-position: left;
}

._back-pos-r {
  background-position: right;
}

._back-pos-t {
  background-position: top;
}

._back-pos-b {
  background-position: bottom;
}

._back-pos-c {
  background-position: center;
}

._back-repeat-no {
  background-repeat: no-repeat;
}

._back-repeat-y {
  background-repeat: repeat-y;
}

._back-repeat-x {
  background-repeat: repeat-x;
}

._back-single {
  background-position: center;
  background-repeat: no-repeat;
}

._back-contain {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

._back-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

._back-black {
  background-color: #000;
}

._back-grey {
  background-color: gray;
}

._back-grey-light {
  background-color: #e6e6e6;
}

._back-grey-x-light {
  background-color: whitesmoke;
}

._back-white {
  background-color: #fff;
}

._block-h-10 {
  height: 10px;
}

._block-h-20 {
  height: 20px;
}

._block-h-50 {
  height: 50px;
}

._block-h-100 {
  height: 100px;
}

._block-h-200 {
  height: 200px;
}

._block-h-500 {
  height: 500px;
}

._block-h-1000 {
  height: 1000px;
}

._block-w-10 {
  width: 10px;
}

._block-w-20 {
  width: 20px;
}

._block-w-50 {
  width: 50px;
}

._block-w-100 {
  width: 109px;
}

._block-w-200 {
  width: 200px;
}

._block-w-500 {
  width: 500px;
}

._block-w-1000 {
  width: 1000px;
}

._spacing-no {
  padding: 0;
  margin: 0;
}

._pad-no {
  padding: 0px;
}

._mgn-no {
  margin: 0px;
}

._pad-1 {
  padding: 1px;
}

._pad-r-1 {
  padding-right: 1px;
}

._pad-l-1 {
  padding-left: 1px;
}

._pad-t-1 {
  padding-top: 1px;
}

._pad-b-1 {
  padding-bottom: 1px;
}

._mgn-1 {
  margin: 1px;
}

._mgn-r-1 {
  margin-right: 1px;
}

._mgn-l-1 {
  margin-left: 1px;
}

._mgn-t-1 {
  margin-top: 1px;
}

._mgn-b-1 {
  margin-bottom: 1px;
}

._pad-2 {
  padding: 2px;
}

._pad-r-2 {
  padding-right: 2px;
}

._pad-l-2 {
  padding-left: 2px;
}

._pad-t-2 {
  padding-top: 2px;
}

._pad-b-2 {
  padding-bottom: 2px;
}

._mgn-2 {
  margin: 2px;
}

._mgn-r-2 {
  margin-right: 2px;
}

._mgn-l-2 {
  margin-left: 2px;
}

._mgn-t-2 {
  margin-top: 2px;
}

._mgn-b-2 {
  margin-bottom: 2px;
}

._pad-3 {
  padding: 3px;
}

._pad-r-3 {
  padding-right: 3px;
}

._pad-l-3 {
  padding-left: 3px;
}

._pad-t-3 {
  padding-top: 3px;
}

._pad-b-3 {
  padding-bottom: 3px;
}

._mgn-3 {
  margin: 3px;
}

._mgn-r-3 {
  margin-right: 3px;
}

._mgn-l-3 {
  margin-left: 3px;
}

._mgn-t-3 {
  margin-top: 3px;
}

._mgn-b-3 {
  margin-bottom: 3px;
}

._pad-4 {
  padding: 4px;
}

._pad-r-4 {
  padding-right: 4px;
}

._pad-l-4 {
  padding-left: 4px;
}

._pad-t-4 {
  padding-top: 4px;
}

._pad-b-4 {
  padding-bottom: 4px;
}

._mgn-4 {
  margin: 4px;
}

._mgn-r-4 {
  margin-right: 4px;
}

._mgn-l-4 {
  margin-left: 4px;
}

._mgn-t-4 {
  margin-top: 4px;
}

._mgn-b-4 {
  margin-bottom: 4px;
}

._pad-5 {
  padding: 5px;
}

._pad-r-5 {
  padding-right: 5px;
}

._pad-l-5 {
  padding-left: 5px;
}

._pad-t-5 {
  padding-top: 5px;
}

._pad-b-5 {
  padding-bottom: 5px;
}

._mgn-5 {
  margin: 5px;
}

._mgn-r-5 {
  margin-right: 5px;
}

._mgn-l-5 {
  margin-left: 5px;
}

._mgn-t-5 {
  margin-top: 5px;
}

._mgn-b-5 {
  margin-bottom: 5px;
}

._pad-6 {
  padding: 6px;
}

._pad-r-6 {
  padding-right: 6px;
}

._pad-l-6 {
  padding-left: 6px;
}

._pad-t-6 {
  padding-top: 6px;
}

._pad-b-6 {
  padding-bottom: 6px;
}

._mgn-6 {
  margin: 6px;
}

._mgn-r-6 {
  margin-right: 6px;
}

._mgn-l-6 {
  margin-left: 6px;
}

._mgn-t-6 {
  margin-top: 6px;
}

._mgn-b-6 {
  margin-bottom: 6px;
}

._pad-7 {
  padding: 7px;
}

._pad-r-7 {
  padding-right: 7px;
}

._pad-l-7 {
  padding-left: 7px;
}

._pad-t-7 {
  padding-top: 7px;
}

._pad-b-7 {
  padding-bottom: 7px;
}

._mgn-7 {
  margin: 7px;
}

._mgn-r-7 {
  margin-right: 7px;
}

._mgn-l-7 {
  margin-left: 7px;
}

._mgn-t-7 {
  margin-top: 7px;
}

._mgn-b-7 {
  margin-bottom: 7px;
}

._pad-8 {
  padding: 8px;
}

._pad-r-8 {
  padding-right: 8px;
}

._pad-l-8 {
  padding-left: 8px;
}

._pad-t-8 {
  padding-top: 8px;
}

._pad-b-8 {
  padding-bottom: 8px;
}

._mgn-8 {
  margin: 8px;
}

._mgn-r-8 {
  margin-right: 8px;
}

._mgn-l-8 {
  margin-left: 8px;
}

._mgn-t-8 {
  margin-top: 8px;
}

._mgn-b-8 {
  margin-bottom: 8px;
}

._pad-9 {
  padding: 9px;
}

._pad-r-9 {
  padding-right: 9px;
}

._pad-l-9 {
  padding-left: 9px;
}

._pad-t-9 {
  padding-top: 9px;
}

._pad-b-9 {
  padding-bottom: 9px;
}

._mgn-9 {
  margin: 9px;
}

._mgn-r-9 {
  margin-right: 9px;
}

._mgn-l-9 {
  margin-left: 9px;
}

._mgn-t-9 {
  margin-top: 9px;
}

._mgn-b-9 {
  margin-bottom: 9px;
}

._pad-10 {
  padding: 10px;
}

._pad-r-10 {
  padding-right: 10px;
}

._pad-l-10 {
  padding-left: 10px;
}

._pad-t-10 {
  padding-top: 10px;
}

._pad-b-10 {
  padding-bottom: 10px;
}

._mgn-10 {
  margin: 10px;
}

._mgn-r-10 {
  margin-right: 10px;
}

._mgn-l-10 {
  margin-left: 10px;
}

._mgn-t-10 {
  margin-top: 10px;
}

._mgn-b-10 {
  margin-bottom: 10px;
}
